{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    <h1 class="title">Commit detail of key {{title}}</h1>

    <article class='article-item'>

        <div class='data'>
            <h2>
                Message: {{commit_detail.message}}
            </h2>
            <h3>
                Author: {{commit_detail.author}}
                </br>
                {{commit_detail.email}}
            <h3>
            </br>
            <span class='date'>{{commit_detail.date}}</span>
            </br>
            <p>
                Number of affected files: {{commit_detail.number_files}}
            </p>
            </br>
            <div class="tooltip"><a href="{{route}}">{{route}}<a>
                <span class="tooltiptext">Click for more Details</span>
            </div>
        </div>

        <div class='clearfix'></div>
    </article>

{% endblock %}