{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    <h1 class="title">{{title}}</h1>

    {% for branch in branches %}
        <article class='article-item'>

            <div class='data'>
                <h2>
                    {{branch|upper}}
                </h2>
                <h3>
                    <a href="{% url 'commits' branch %}">Commits</a>
                <h3>
            </div>

            <div class='clearfix'></div>
        </article>
    {% endfor %}

{% endblock %}